# nice!nano board configuration

# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config BOARD_XOSK
    bool "xosk"
    depends on SOC_NRF52840_QIAA

config BOARD_XOSK_V2
    bool "xoskv2"
    depends on SOC_NRF52840_QIAA
