/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <350>;
    require-prior-idle-ms = <150>;
};

&lt {
    require-prior-idle-ms = <150>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        escapeCombo {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
            layers = <0 1 2 3 4>;
        };

        tabCombo {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
            layers = <0 1 2 3 4>;
        };

        resetLeft {
            bindings = <&sys_reset>;
            key-positions = <0 1 2>;
            layers = <0 2 1 3 4>;
        };

        comment {
            bindings = <&kp LC(SLASH)>;
            key-positions = <22 23>;
        };

        bootloaderLeft {
            bindings = <&bootloader>;
            key-positions = <2 3 4>;
        };

        xCombo {
            bindings = <&kp X>;
            key-positions = <21 22>;
        };

        spaceCombo {
            bindings = <&kt SPACE>;
            key-positions = <23 24>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            // ------------------------------------------------------------------------
            // |  Q  |  W  |  E   |  R   |  T   |  Y   |  U    |  I    |  O   |   P   | 
            // |  A  |  S  |  D   |  F   |  G   |  H   |  J    |  K    |  L   |   ;   |  
            // |  Z  |  X  |  C   |  V   |  B   |  N   |  M    |  ,    |  .   |   /   | 
            //             | GUI  | LOWER|  SPACE |  ENTER | RAISE| BSPC  |

            bindings = <
&kp Q               &kp W           &kp E           &kp R             &kp T          &kp Y          &kp U              &kp I            &kp O            &kp P
&mt LEFT_CONTROL A  &mt LEFT_GUI S  &mt LEFT_ALT D  &mt LEFT_SHIFT F  &kp G          &kp H          &mt RIGHT_SHIFT J  &mt RIGHT_ALT K  &mt RIGHT_GUI L  &mt RIGHT_CONTROL SEMI
&kp Z               &kp X           &kp C           &kp V             &kp B          &kp N          &kp M              &kp COMMA        &kp DOT          &kp FSLH
                                    &kp LEFT_SHIFT  &mo 2             &lt 3 ENTER    &kp BACKSPACE  &lt 4 SPACE        &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        rsthanio {
            bindings = <
&kp B               &kp M           &kp C           &kp P             &kp J          &kp SEMI       &kp U              &kp L            &kp Y            &kp SQT
&mt LEFT_CONTROL R  &mt LEFT_GUI S  &mt LEFT_ALT T  &mt LEFT_SHIFT H  &kp V          &kp K          &mt RIGHT_SHIFT A  &mt RIGHT_ALT N  &mt RIGHT_GUI O  &mt RIGHT_CONTROL I
&kp Z               &kp W           &kp F           &kp D             &kp Q          &kp FSLH       &kp G              &kp COMMA        &kp DOT          &kp X
                                    &kp LEFT_SHIFT  &mo 2             &lt 3 ENTER    &kp BACKSPACE  &lt 4 SPACE        &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        number {
            bindings = <
&kp EXCLAMATION  &kp AT_SIGN      &kp LEFT_BRACE             &kp RIGHT_BRACE              &kp TILDE         &kp PLUS      &kp NUMBER_1              &kp NUMBER_2      &kp NUMBER_3       &kp PIPE
&mt LCTRL HASH   &mt LGUI DOLLAR  &mt LALT LEFT_PARENTHESIS  &mt LSHFT RIGHT_PARENTHESIS  &kp UNDERSCORE    &kp MINUS     &mt RIGHT_SHIFT NUMBER_4  &mt RIGHT_ALT N5  &mt RGUI NUMBER_6  &mt RCTRL AMPERSAND
&kp PERCENT      &kp CARET        &kp LEFT_BRACKET           &kp RIGHT_BRACKET            &kp GRAVE         &kp ASTERISK  &kp N7                    &kp N8            &kp N9             &kp SLASH
                                  &kp DOUBLE_QUOTES          &trans                       &kp SQT           &kp PERIOD    &kp N0                    &kp EQUAL
            >;
        };

        navigation {
            bindings = <
&kp BSPC   &kp LG(NUMBER_1)  &kp LG(NUMBER_2)  &kp LG(NUMBER_3)  &kp DEL       &kp K_CUT  &kp K_COPY  &kp K_PASTE  &kp K_UNDO  &kp K_REDO
&kp LSHFT  &kp LG(NUMBER_4)  &kp LG(N5)        &kp LG(N6)        &kp LS(Q)     &kp LEFT   &kp DOWN    &kp UP       &kp RIGHT   &trans
&to 5      &kp LG(N7)        &kp LG(N8)        &kp LG(N9)        &kp LG(N0)    &kp HOME   &kp PG_DN   &kp PG_UP    &kp END     &to 5
                             &kp LG(DOWN)      &kp LG(UP)        &trans        &trans     &trans      &trans
            >;
        };

        media {
            bindings = <
&kp ESC   &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_MUTE    &kp F10  &kp F1  &kp F2  &kp F3  &kp ESC
&trans    &trans      &trans             &trans           &trans        &kp F11  &kp F4  &kp F5  &kp F6  &trans
&kp CAPS  &trans      &kp C_BRI_DN       &kp C_BRI_UP     &trans        &kp F12  &kp F7  &kp F8  &kp F9  &trans
                      &trans             &trans           &trans        &trans   &trans  &trans
            >;
        };

        bluetooth {
            bindings = <
&trans  &trans        &out OUT_BLE  &out OUT_USB  &to 0         &to 0       &out OUT_USB  &out OUT_BLE  &trans        &trans
&trans  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 4  &to 1         &to 1       &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 4  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR    &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans
                      &trans        &trans        &trans        &trans      &trans        &trans
            >;
        };
    };
};
